.shoes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 24px; /* Ajout d'un espacement entre les boîtes */
}

.shoe-box {
  width: calc(20% - 10px); /* Ajustement de la largeur des boîtes */
  background: linear-gradient(
    319.36deg,
    rgba(255, 255, 255, 0.5) 21.89%,
    rgba(248, 248, 248, 0.5) 100%
  );
  box-shadow: 0px 0px 49.7826px rgba(10, 21, 59, 0.06);
  backdrop-filter: blur(0.82971px);
  border-radius: 13.2754px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 12px 12px 16px;
}

.shoe-box img {
  width: 100%; /* Modification de la largeur de l'image pour une taille uniforme */
  height: 200px; /* Définition d'une hauteur fixe pour les images */
  object-fit: contain; /* Redimensionnement de l'image pour s'adapter à la taille définie */
  margin-bottom: 10px;
}

.shoe-box h3 {
  font-family: 'Montserrat', sans-serif;
  margin: 4px 0;
  font-weight: 800;
  font-size: 19.913px;
}

.shoe-box h4,
.shoe-box p {
  font-family: 'Montserrat', sans-serif;
  margin: 4px 0;
}
.resell-value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #000;
  background: #f9f9f9;
  border-radius: 165.942px;
  padding: 5px 10px; /* Ajoutez un peu de rembourrage pour que le texte ne touche pas les bords du fond arrondi */
  margin: 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.resell-color-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}
.animate {
  animation: opacityChange 0.5s ease-in-out;
}

@keyframes opacityChange {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Responsive Mobile */
@media (max-width: 767px) {
  .shoes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    overflow-x: auto; /* Barre de défilement horizontale sur les petits écrans */
  }

  .shoe-box {
    width: calc(
      100% - 10px
    ); /* Ajustement de la largeur des boîtes pour les petits écrans */
    margin-bottom: 12px; /* Réduction de la marge inférieure pour les petits écrans */
  }
}
